const CLIENT_ID = "";
const ORG_ID = "";
const SHORT_CODE = "";
const SITE_ID = "";
const DEFAULT_SITE = "";

export const redirect_uri = "";
export const config = {
  parameters: {
    clientId: CLIENT_ID,
    organizationId: ORG_ID,
    shortCode: SHORT_CODE,
    siteId: SITE_ID,
  },
};
