EXPO_PUBLIC_CLIENT_ID="aaaaaaaaaaaaaaaaaaaaaa"
EXPO_PUBLIC_ORG_ID="aaaaaaaaaaaaaaaaaaaaaa"
EXPO_PUBLIC_SHORT_CODE="aaaaaaaaaaaaaaaaaaaaaa"
EXPO_PUBLIC_SITE_ID="RefArch"
EXPO_PUBLIC_DEFAULT_SITE="RefArch"
EXPO_PUBLIC_REDIRECT_URI="can't be localhost, use a real url"